.banner {
    height: 300px;
    background-color: rgb(40, 137, 255);
    transition-duration: 0.2s;
}

.banner-d {
    scale: 1 0;
}

.banner-label {
    flex-grow: 1;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 60px;
    transition-duration: 0.2s;
}

.banner-label-d {
    scale: 0 0;
}
